main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* border: 1px solid red; */
  font-size: 24px;
  padding: 24px 394px;
}

.product_container {
  /* border: 1px solid blue; */
  margin-bottom: 20px;
}

.product_list_title {
  /* border: 1px solid skyblue; */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

.bookmark_container {
  /* border: 1px solid green; */
  margin-bottom: 12px;
}

.bookmark_list_title {
  /* border: 1px solid greenyellow; */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}
