.container {
  display: inline-block;
  position: relative;
  justify-content: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개의 열 */
  justify-content: space-between;
  grid-gap: 24px; /* 열 사이의 간격 */
  list-style: none;
}

.item {
  display: inline-block;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.image {
  /* display: flex; */
  width: 264px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
  flex-grow: 0;
  z-index: 1;
}

.bookmark {
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 20px;
  right: 10px;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: 16px;
}

.info_top {
  display: flex;
  justify-content: space-between;
}

.brand_name,
.title {
  font-weight: 700;
}

.client {
  font-weight: 500;
}

.discount {
  color: #452cdd;
  font-weight: 800;
}

.price,
.follower {
  display: flex;
  justify-content: end;
  font-weight: 400;
}
